<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
            *{
                background: aqua;
                padding: 0px 0px;
                margin: 0px;
            }    
            header h1 {
                background: azure;
                text-align: center;
            }
    
    
        </style>
</head>
<body> 
    <header>
        <h1 >INFOLLIN</h1>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Social</a></li>
                <li><a href="#">Población</a></li>  
            </ul>
            <div>
                <img src="" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, magni at architecto repudiandae cumque vitae provident aliquam rerum veritatis a perferendis exercitationem nulla doloribus officiis voluptates, error, dolor ullam suscipit?</p>
            </div>
            <div>
                <img src="" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, magni at architecto repudiandae cumque vitae provident aliquam rerum veritatis a perferendis exercitationem nulla doloribus officiis voluptates, error, dolor ullam suscipit?</p>
            </div>
            <div>
                <img src="" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, magni at architecto repudiandae cumque vitae provident aliquam rerum veritatis a perferendis exercitationem nulla doloribus officiis voluptates, error, dolor ullam suscipit?</p>
            </div>
    
        </nav>
    </header>
</body>
</html>